
<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css"> 
	<title>설문 정보</title>
</head>
<body>
	<div class="outline__title">
		<a href="surveyList.html"><img class="leftarrow" src="images/left-arrow.png"></a>
        <span class="register__title__text">설문 정보</span>
        <span id="hide">&lt;</span>
	</div>
	<div class="outline__container">
		<section class="sec1">
			<h3>[<%= request.getParameter("quest_range") %>]&nbsp;<%= request.getParameter("quest_title") %>
			</h3>
			<p>
				<%= request.getParameter("quest_explain") %>
			</p>
			<p class="deadline">
				<%= request.getParameter("deadline") %>
			</p>
		</section>
		<hr class="boldline">
		<section class="sec2">
			<div>
				<h3>문항수</h3>
				<p>총 <%= request.getParameter("tot_quest") %>문항</p>
				<p>객관식 : <%= request.getParameter("choice_quest") %>문항</p>
				<p>주관식 : <%= request.getParameter("shortAnswer_quest") %>문항</p>
			</div>
		
			<div>
				<h3>소요 시간</h3>
				<p>
					<%= request.getParameter("leadTime") %> 분
				</p>
			</div>
		
			<div>
				<h3>적립 예정 포인트</h3>
				<p>
					<%= request.getParameter("point") %> p
				</p>
			</div>
		</section>
		<div class="empty"></div>
	</div>
	<div class="outline__buttons">
		<button class="outline__buttons__back" onclick="location.href='surveyList.html'">돌아가기</button>
		<button class="outline__buttons__participate" onclick="goPage()">참여하기</button>
	</div>
</body>
</html>

<script type="text/javascript">
	function goPage() { 
		location.href = "<%= request.getParameter("quest_url") %>"; 
		}
</script>