/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-red: #ea394a;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #262630;
  --color-grey: #616161;
  --color-light-grey: #a6a5aa;
  --color-blue: #001d85;
  --color-skyblue: #e8eff9;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-46: 2.5rem;
  --font-32: 2rem;
  --font-24: 1.5rem;
  --font-small: 16px;
  --font-micro: 14px;

  --font-spacing: -0.18rem;

  /* Font weight */
  --weight-bold: 800;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
  --size-line-margin: 3%;

  /*Animation*/
  --animation-duration: 250ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Typography */

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  cursor: default;
  letter-spacing: -0.19rem;
}

textarea {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--font-46);
  font-weight: var(--weight-bold);
  color: var(--color-blue);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-32);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: 1.8rem;
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

button {
  outline: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

.lightLine {
  height: 0.5px;
  background-color: var(--color-light-white);
  border: none;
  margin-left: var(--size-line-margin);
  margin-right: var(--size-line-margin);
  margin-top: 0;
  margin-bottom: 0;
}

td {
  padding: 0 0 0 0;
}

/* home */

h1.home__title__text {
  margin-left: var(--size-line-margin);
  color: var(--color-blue);
}

.home__profile {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.home__profile__table {
  margin: auto auto;
}

.home__profile__avatar {
  height: 10em;
  width: 10em;
  border-radius: 5em;
}

.home__profile__name {
  font-size: var(--font-32);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: var(--weight-bold);
  margin: 1rem 1rem 1rem 1rem;
}

.home__profile__major {
  font-size: var(--font-24);
  font-weight: var(--weight-regular);
  color: var(--color-light-grey);
}

.home__profile__upoint,
.home__profile__uticket {
  font-size: var(--font-46);
  font-weight: var(--weight-bold);
  color: var(--color-blue);
  margin-left: 1rem;
}

.home__profile__p,
.home__profile__ticket {
  font-size: var(--font-32);
  font-weight: var(--weight-regular);
  color: var(--color-blue);

  margin-right: 5rem;
}

.home__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 60vh;
  justify-content: space-evenly;
  align-items: space-around;
}

.home__button_register,
.home__button_participate {
  border: none;
  background-color: var(--color-skyblue);
  border-radius: 2.9375rem;
  width: 90vw;
  height: 45vw;
  font-size: var(--font-46);
  font-weight: var(--weight-bold);
  letter-spacing: -0.18rem;
}

.bar__container {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 12vh;
  border-top: 0.0625rem solid var(--color-light-grey);
  background-color: var(--color-white);
}

.bar__home__icon,
.bar__mysurvey__icon,
.bar__pointshop__icon,
.bar__settings__icon {
  width: 5.625rem;
  height: 5.625rem;
  margin: 1rem auto;
}

/* login */

.login__title {
  font-size: 4rem;
  font-weight: bolder;
  color: var(--color-blue);
  display: flex;
  height: 40vh;
  justify-content: center;
  align-items: center;
}

.login__container {
  font-size: var(--font-42);
}

.login__container__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container__buttons {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container__input input,
.login__container__button-login,
.login__container__button-signup {
  width: 300px;
}

.login__container__button-login,
.login__container__button-signup {
  margin-bottom: 10px;
  padding: 1rem 0 1rem 0;
  border-radius: 0;
  border-width: 0;
  font-weight: var(--weight-bold);
  font-size: var(--font-24);
}

.login__container__button-login {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.login__container__input input {
  margin-bottom: 20px;
  padding-top: var(--font-32);
  font-size: var(--font-24);
  font-weight: var(--weight-regular);
  border-width: 0 0 0.5px 0;
  border-color: var(--color-light-white);
  outline: none;
}

.login__container__find {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__container__find input {
  border-width: 0;
  background-color: transparent;
}

/* signup */
.signup__title {
  text-align: center;
  background-color: var(--color-white);
  width: 100vw;
  height: 10vh;
  position: fixed;
}

.signup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signup__wrapper span {
  font-size: var(--font-24);
}

.signup__wrapper input[id="id"] {
  margin-top: var(--font-32);
}


.signup__wrapper input[type="text"]
 {
  padding-top: var(--font-32);
  font-size: var(--font-24);
  font-weight: var(--weight-regular);
  border-width: 0 0 0.5px 0;
  border-color: var(--color-light-white);
  outline: none;
  width: 300px;
}

#pswd1, #pswd2 {
  padding-top: var(--font-32);
  border-width: 0 0 0.5px 0;
  border-color: var(--color-light-white);
  outline: none;
  width: 300px;
}

.signup__wrapper input,
.signup__wrapper select {
  font-size: var(--font-24);
}

.signup__wrapper h2 {
  margin-top: 20px;
}

.perosonalInfo__gender {
  font-size: var(--font-24);
  margin-top: 20px;
}

.univInfo__email input[type="text"] {
  width: 220px;
}

.univInfo__email input[type="button"] {
  background-color: var(--color-blue);
  border: 0px;
  height: 30px;
  width: 80px;
  color: var(--color-white);
  font-size: 14px;
  border-radius: 3px;
}

.signup__buttons {
  display: flex;
  align-content: space-between;
  margin-bottom: 4rem;
}

.signup__buttons input {
  border: 0px;
  height: 40px;
  width: 120px;
  margin: 20px 10px;
  font-weight: var(--weight-bold);
  border-radius: 3px;
}

.signup__buttons input[type="button"] {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 3px;
}

/* survey register */

.register__title {
  background-color: var(--color-white);
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
  font-size: var(--font-46);
  font-weight: var(--weight-bold);
  color: var(--color-blue);
  margin: 0px;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register__title a {
  color: var(--color-grey);
}

#hide {
  color: white;
}

.surveyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: var(--font-24);
  font-weight: 600;
  color: var(--color-dark-grey);
  padding-left: 7vw;
  padding-right: 7vw;
}

.margintop32 {
  margin-top: 3rem;
}

.surveyInfo input[type="text"],
.surveyInfo input[type="number"],
.surveyInfo textarea {
  font-size: var(--font-24);
  font-weight: var(--weight-regular);
  border-width: 0 0 0.5px 0;
  border-color: var(--color-light-white);
  outline: none;
  width: 100%;
}

.surveyInfo textarea {
  resize: none;
}

.surveyInfo__link {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.surveyInfo__link input {
  background-color: transparent;
  border: 0px;
  text-decoration: underline;
  font-size: 1.3rem;
}

.surveyInfo__target {
  margin-bottom: 3rem;
}

.surveyInfo__buttons {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.surveyInfo__buttons input {
  font-size: var(--font-24);
  font-weight: var(--weight-bold);
  border: 0px;
  height: 40px;
  width: 120px;
}

.surveyInfo__buttons input[type="submit"] {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.vh8 {
  height: 5vh;
}

/* Pointshop */

h1.pointshop__title__text {
  margin-left: var(--size-line-margin);
  color: var(--color-blue);
}

.pointshop {
  font-size: var(--font-32);
  font-weight: var(--weight-bold);
  width: 100%;
}

.pointshop__ticketimg {
  width: 60px;
  height: 60px;
}

.pointshop table {
  margin: 15% auto;
  width: 300px;
}

#pointshop__td-right {
  text-align: center;
}

#qty1,
#qty2 {
  padding-left: 0;
  padding-right: 5%;
}

.pointshop__line {
  margin-left: 8%;
  margin-right: 8%;
  height: 0.5px;
  background-color: var(--color-dark-white);
  border: none;
}

#pointshop__button1,
#pointshop__button2 {
  border: 0px;
  background-color: var(--color-blue);
  color: var(--color-white);
  width: 90px;
  height: 30px;
  font-size: var(--font-24);
  font-weight: var(--weight-bold);
  border-radius: var(--size-border-radius);
  margin-top: 5%;
}

.modal_wrap1 {
  display: none;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  background-color: var(--color-white);
  z-index: 2;
  text-align: center;
  padding: 20px;
}

.modal_wrap2 {
  display: none;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  background-color: var(--color-white);
  z-index: 3;
  text-align: center;
  padding: 20px;
}

.background {
  display: none;
  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.modal_buy,
.modal_cancel1,
.modal_cancel2 {
  border: 0px;
  font-size: var(--font-24);
  font-weight: var(--weight-bold);
  border-radius: var(--size-border-radius);
  width: 110px;
  height: 35px;
  margin: 20px 0;
}

.modal_buy {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* mySurvey */

.myQuestion__title__text {
  margin-left: var(--size-line-margin);
  color: var(--color-blue);
}

.myQuestion {
  font-size: 1.7rem;
  margin: 5% var(--size-line-margin);
}

.myQuestion a {
  color: var(--color-dark-grey);
  font-weight: var(--weight-bold);
}

.myQuestion__container {
  display: flex;
  justify-content: space-between;
}

span.icon {
  line-height: 1.7rem;
}

.myQuestion__table {
  margin-top: 2vh;
}

.myQuestion__table__td {
  background-color: #f7f7f7;
  padding: 2vh;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px -10px var(--color-light-grey);
  margin: 2vh 0;
  font-size: 1.5rem;
}

.target {
  font-weight: var(--weight-bold);
}

.dday {
  position: absolute;
  right: 4vh;
  font-weight: var(--weight-bold);
  color: var(--color-dark-white);
}

/* surveyList */
.surveylist__title {
  font-size: var(--font-46);
  font-weight: var(--weight-bold);
  color: var(--color-blue);
  margin: 16px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.surveylist__title a {
  vertical-align: middle;
}

.surveylist__title img {
  width: 20px;
  height: 20px;
}

.surveylist__form table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
  font-size: var(--font-24);
}

.surveylist__form select {
  border: 0;
  width: 100%;
  padding-left: 10px;
  font-weight: var(--weight-bold);
}

.list_sort,
.list_search {
  border: 0.5px solid var(--color-grey);
}

.list_sort {
  width: 25%;
}

.list_search {
  display: flex;
  justify-content: space-between;
  padding: 3px 10px 3px 2px;
}

.list_table {
  width: 92vw;
}

.list_search input {
  border: 0;
}

.list_search button {
  background-color: transparent;
  border: 0;
  height: 21px;
  width: 21px;
}

.list_search img {
  height: 100%;
}

.list_container {
  position: absolute;
  bottom: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fo-black {
  color: var(--color-black);
}

.surveyList__list a {
  font-size: 1.3rem;
}

.surveyList__list {
  list-style-type: none;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.surveyList__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  color: var(--color-black);
}

.active {
  font-weight: var(--weight-bold);
}

.pre,
.next {
  width: 50px;
  height: 25px;
  border-radius: 2px;
  background-color: var(--color-light-white);
}

.next {
  background-color: var(--color-blue);
}

.pre a {
  color: var(--color-black);
  font-weight: var(--weight-bold);
}

.next a {
  color: var(--color-white);
}

/* 설문 개요 */

.registeredQuestion__title,
.outline__title {
  background-color: var(--color-white);
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
  font-size: var(--font-46);
  font-weight: var(--weight-bold);
  margin: 0px;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register__title__text {
  color: var(--color-blue);
}

.leftarrow {
  height: 20px;
  width: 20px;
}

.outline__container section {
  margin-left: 7vw;
  margin-right: 7vw;
  font-size: 1.6rem;
}

.deadline {
  font-size: var(--font-24);
}

.boldline {
  height: 12px;
  border: none;
  background-color: var(--color-light-white);
  margin: 4vh 0;
}

.outline__container p {
  margin: 0 0 0.5vh 0;
}

.sec2 div {
  margin-bottom: 3vh;
}

.empty {
  height: 17vh;
}

.outline__buttons {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 12vh;
  background-color: var(--color-white);
}

.outline__buttons button {
  border: none;
  font-size: var(--font-24);
  font-weight: var(--weight-bold);
  height: 40px;
  width: 120px;
  border-radius: var(--size-border-radius);
}

.outline__buttons__participate {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* 내가 등록한 설문 리스트 */

.registeredQuestion__buttons,
.registeredQuestion__buttons-none {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 12vh;
  width: 100%;
  height: 12vh;
  background-color: var(--color-white);
}

.registeredQuestion__buttons input,
.registeredQuestion__buttons-none input {
  border: none;
  font-size: var(--font-24);
  font-weight: var(--weight-bold);
  height: 40px;
  width: 120px;
  border-radius: var(--size-border-radius);
}

.registeredQuestion__buttons-none {
  display: none;
}

.registeredQuestion__edit,
.registeredQuestion__delete {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.Questionlist {
  margin-left: auto;
  margin-right: auto;
  width: 89vw;
  font-size: var(--font-24);
  border-collapse: collapse;
}

.Questionlist td {
  border-bottom: 0.1px solid var(--color-light-white);
  padding: 1rem 0;
}

.Questionlist__target {
  width: 25%;
  font-weight: var(--weight-bold);
}

.Questionlist__dday {
  text-align: right;
  font-weight: var(--weight-bold);
  color: var(--color-dark-white);
}

.Questionlist__target input {
  display: none;
}

.myoutline__buttons {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 20vh;
}

.myoutline__buttons button {
  border: none;
  height: 5vh;
  width: 13vh;
  font-weight: var(--weight-bold);
  border-radius: var(--size-border-radius);
}

.outline__buttons__close {
  background-color: var(--color-skyblue);
}

.outline__buttons__result {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* 설정 */

.settings__title {
  text-align: center;
  margin-bottom: 5vh;
}

.settings__list {
  font-size: var(--font-24);
}

.settings__list p {
  margin-left: var(--size-line-margin);
  margin-right: var(--size-line-margin);
}

.settings__list hr {
  margin-left: 0px;
  margin-right: 0px;
}

.settings__list a {
  color: #000000;
}

/*관리자 페이지 */

.admin__title h1 {
  margin-left: var(--size-line-margin);
  color: var(--color-red);
}

.admin__title {
  margin-bottom: 2vh;
}

.userTable input {
  width: 100%;
}

input:focus {
  outline: none;
}

.list_id {
  font-size: var(--font-24);
  height: var(--font-24);
}

.list_id img {
  vertical-align: center;
  height: 15px;
  vertical-align: middle;
}

.list_id td {
  padding: 15px 0px;
}

.list_id_text {
  width: 90%;
}

.list_id_arrow {
  text-align: right;
}

/* 사용자 정보 */

.adminQuestion__title__text {
  color: var(--color-red);
}

.user__profile {
  font-size: 1.3rem;
}

.user__profile img {
  width: 80px;
}

.user__profile__avatar {
  text-align: center;
}

.user__profile__table {
  width: 100%;
}

.bold {
  font-weight: var(--weight-bold);
}

.userInfo__registered,
.userInfo__joined {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.userInfo__registered span,
.userInfo__joined span {
  font-size: var(--font-24);
  margin-left: var(--size-line-margin);
}

.mt1 {
  margin-top: 1vh;
}

.userInfo__registered__list,
.userInfo__joined__list {
  margin-top: 1vh;
}

.userInfo__registered__title,
.userInfo__joined__title {
  font-size: 1.8rem;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: var(--size-line-margin);
}

/*설문 관리*/

.red {
  background-color: var(--color-red);
}

.list_edit {
  width: 24.5vw;
  margin-left: 4vw;
  font-size: var(--font-24);
  border-spacing: 5px;
  text-align: center;
}

.list_edit input {
  margin: 0%;
}

.list_edit td {
  border: 0.5px solid var(--color-grey);
  padding: 0.3vh;
}

td.Questionlist__check {
  padding: 1vh;
  width: 11%;
}

.Questionlist__check input {
  margin: 0;
}

/* 포인트샵 관리 */

.admin__title__text {
  font-size: var(--font-46);
  font-weight: var(--weight-bold);
  color: var(--color-blue);
  margin: 16px 0px;
}

.admin__title__text input {
  background-color: var(--color-white);
  border: none;
  font-size: var(--font-24);
  position: absolute;
  right: var(--size-line-margin);
  top: 22px;
}

.adminPoint__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}

.adminPoint__container hr {
  width: 100%;
  height: 1.5vh;
  background-color: var(--color-light-white);
  border: none;
}

.adminPoint__table,
.adminPoint__table-add {
  margin: 5vh 0;
  width: 75vw;
}

.adminPoint__table input,
.adminPoint__table-add input {
  width: 100%;
  border: 0;
  border-bottom: 0.5px solid var(--color-grey);
}

.adminPoint__table td,
.adminPoint__table-add td {
  padding: 1vh 0;
}

.adminPoint_imgContainer {
  display: flex;
  justify-content: center;
}

#addItem {
  width: 6vh;
  margin-top: 5vh;
}

/* 공지 작성 */

.noticeRegistry__form {
  width: 92vw;
  margin-left: 0;
}

.noticeRegistry__form td {
  padding: 1vh 0;
}

.noticeRegistry__form input {
  width: 100%;
  font-size: var(--font-24);
}

.noticeRegistry__form textarea {
  width: 100%;
  height: 50vh;
  font-size: var(--font-24);
}

.noticeRegistry__form input[type="submit"] {
  width: 30%;
  height: 5vh;
  border: none;
  border-radius: var(--size-border-radius);
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: bold;
}

.noticeRegister__container {
  display: flex;
  justify-content: center;
}

/*공지사항*/

.notice__container {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
}

.notice__container__table {
  width: 100%;
  margin-left: var(--size-line-margin);
  margin-right: var(--size-line-margin);
  text-align: center;
  border-collapse: collapse;
}

.notice__container__table td {
  padding: 1vh 0;
  border-bottom: 1px solid var(--color-light-white);
}

.notice__container__table .article {
  width: 75%;
  text-align: left;
  font-weight: var(--weight-bold);
}
